In [9]:
import mysql.connector

In [14]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    passwd = "2002"
)

mycursor = mydb.cursor()

mycursor.execute("show databases")
for db in mycursor:
    if "result" in db:
        break
else:
    mycursor.execute("create database result")

In [ ]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    passwd = "2002"
    database = "result"
)

mycursor = mydb.cursor()

### Table Name

In [ ]:
std=input("Enter the Class: ")         
std=std.upper()
while std.isalpha()==False:
    print("Invalid!!, Try Again.")
    std=input("Enter the Class:")
    std=std.upper()

# session=input("ENTER THE GOING SESSION : ")

In [ ]:
def checking_input(list_name,len_list):
    while True:
        for i in range(len_list):
            if list_name==t_mrk:    
                print('\n\t ',subs[i]+(7-len(subs[i]))*' ',':',list_name[i])
            else:
                print('\n\t ',i+1,':',list_name[i])
        response=input('''\n\t  #YOU WANT TO UPDATE
                      1.YES
                      2.NO
                      : ''')
        if response=='1':
            intendetion=input('''\n ENTER THE SERIAL NO.
                      :  ''')
            while int(intendetion)>len_list or intendetion=='' or intendetion.isdigit()==False:     
                print('''\n\tINVALID INPUT!!!
                 ENTER AGAIN ''')
                intendetion=input('''\n ENTER THE SERIAL NO.
                  :  ''') 
            entry=input('ENTER THE UPDATE VALUE : ')
            if list_name==subs:
                while len(entry)>7 or entry=='':
                    print('''\n\tINVALID INPUT!!!
                     ENTER AGAIN ''')
                    entry=input(' : ')
                entry=entry.upper()
            list_name[int(intendetion)-1]=entry 
        else:
            break



number_of_subjects = int(input("ENTER NO. OF SUBJECTS : "))    

name_of_subjects = []
print("ENTER THE NAME OF SUBJECTS: ")
for i in range(number_of_subjects):
    entry = input(i+1+": ").upper()                                  
    name_of_subjects.append(entry)

updater(subs,sub_no)  # Give the attension

totalmark_of_subjects = []
print("ENTER TOTAL MARKS OF Each SUBJECTS")
for i in name_of_subjects:                 
    entry = input(i+": ")
    totalmark_of_subjects.append(entry)
    
updater(t_mrk,sub_no) # Give the attension

number_of_students = int(input("ENTER NO. OF STUDENTS : "))

name_of_students = []
print("ENTER THE NAME OF STUDENTS: ")
for i in range(number_of_students):
    entry = input(i+1+": ").capitalize()                              
    name_of_students.append(entry)             
    
updater(studts,studt_no) # Give the attension
 
subject_marks = []
print("ENTER THE MARKS OF EACH STUDENT")

# Give the attension
'''
for j in range(sub_no):
    print('\n\t',subs[j])
    print()
    lst=[]        
    for i in studts:
        print('\t',i,(big-len(i))*' ',end=': ')             
        entry=input()
        while entry=='' or entry.isdigit()==False or int(t_mrk[j])<int(entry):
            print(\n\tINVALID INPUT!!!
             ENTER AGAIN )
            print('\t',i,end=': ')
            entry=input()
        lst.append(entry)
    updater(lst,studt_no)
    mrks.append(lst)

'''
t_hoz=[]
for i in range(studt_no):           
    tp=0  
    for j in range(sub_no):
        tp+=int(mrks[j][i])
    t_hoz.append(tp) 
t_ver=[]                                       
for i in range(sub_no):
    tp=0
    for j in range(studt_no):
        tp+=int(mrks[i][j])
    t_ver.append(tp) 
asc_hoz=list(t_hoz)
asc_hoz.sort(reverse=True)    
cnvrt_mrk=[]       
l_age=[]     

def _count():                               
    print() 
    def c_line():
        print('   '+'+'+big*'-'+'+',end='')
        print(6*(7*'-'+'+')) 
    def c_body(): 
        c_line() 
        print(3*' '+'|'+fitt('SUBJECTS',big)+'|',end='')
        print('  <33  | 33-59 | 60-74 | 75-89 | 90-94 | 95=<  |') 
        c_line() 
        for i in range(sub_no):
            tp=big-len(subs[i])
            print(3*' '+'|'+subs[i]+tp*' '+'|',end='') 
            b_33=b_59=b_74=b_89=b_94=a_95=0
            for j in range(studt_no):
                if cnvrt_mrk[j][i]<33:
                    b_33+=1 
                elif cnvrt_mrk[j][i]<=59 and cnvrt_mrk[j][i]>=33:
                    b_59+=1 
                elif cnvrt_mrk[j][i]<=74 and cnvrt_mrk[j][i]>=60:
                    b_74+=1 
                elif cnvrt_mrk[j][i]<=89 and cnvrt_mrk[j][i]>=75:
                    b_89+=1 
                elif cnvrt_mrk[j][i]<=94 and cnvrt_mrk[j][i]>=90:
                    b_94+=1 
                else:
                    a_95+=1 
            print(fitt(b_33,7)+'|', fitt(b_59,7)+'|', fitt(b_74,7)+'|', fitt(b_89,7)+'|',end='')
            print(fitt(b_94,7)+'|', fitt(a_95,7)+'|') 
            c_line() 
    c_body() 
def achiver():                          
    print()
    blnk=((4*(2*sub_no+2))-30)*' '
    def a_line():
        print('   +---+'+big*'-'+'+-----+',end='')
        print(blnk,end='')
        print('+---+'+big*'-'+'+-----+') 
    top_dict={}
    for i in range(studt_no):
        if t_hoz[i]==asc_hoz[0] and 1 not in top_dict:
            top_dict[1]=i 
        elif t_hoz[i]==asc_hoz[1] and 2 not in top_dict:
            top_dict[2]=i 
        elif t_hoz[i]==asc_hoz[2] and 3 not in top_dict:
            top_dict[3]=i 
        elif t_hoz[i]==asc_hoz[-1] and 4 not in top_dict:
            top_dict[4]=i 
        elif t_hoz[i]==asc_hoz[-2] and 5 not in top_dict:
            top_dict[5]=i 
        elif t_hoz[i]==asc_hoz[-3] and 6 not in top_dict:
            top_dict[6]=i 
    print(3*' '+fitt('HIGH ACHIEVERS',26),end='')
    print(blnk,end='')
    print(fitt('LOW ACHIEVERS',26)) 
    a_line() 
    print('   |RNK|'+fitt('STUDENTS',big)+'|% AGE|',end='')
    print(blnk,end='')
    print('|RNK|'+fitt('STUDENTS',big)+'|% AGE|')
    a_line()
    for i in range(3): 
        print('   |'+fitt(str(1+i)+'.',3)+'|',end='')
        print(fitt(studts[top_dict[i+1]],big)+'|', fitt(l_age[top_dict[i+1]],5)+'|', blnk,end='')
        print('|'+fitt(str(studt_no-i)+'.',3)+'|',end='')
        print(fitt(studts[top_dict[i+4]],big)+'|',end='')
        print(fitt(l_age[top_dict[i+4]],5)+'|')
        a_line()
tp=input('''\n\t # RESULT IS COMPLETED
            # PRESS ENTER''')
def result():        
    print('\n',fitt(school,big+(4*(2*sub_no+2))+12))
    print('CLASS TEACHER:'+class_teacher+',',regination,' ',exam,' ','CLASS:'+std,' ',session)
    header()
    body()
    end()
    _count()
    achiver()
print('\n')
result()

In [1]:
school=input('ENTER THE SCHOOL NAME :')
school=school.upper()
std=input('\n\tENTER THE CLASS AND SECTION (ex.-VIIB): ')         
std=std.upper()
while std.isalpha()==False:
    print('''\n\t INVALID INPUT
               ENTER AGAIN''')
    std=input('\n\tENTER THE CLASS AND SECTION : ')
    std=std.upper()
if std[-1]=='A' or std[-1]=='B':                   
    std=std[:len(std)-1]+' '+std[len(std)-1]
class_teacher=input('\n\tENTER THE NAME OF CLASS TEACHER : ')          
class_teacher=class_teacher.upper()
regination=input('\n\tENTER THE REGINATION OF  THE CLASS TEACHER : ')      
regination=regination.upper()
session=input('\n\tENTER THE GOING SESSION : ')                   
exam=input('\n\tENTER THE EXAM : ') 
exam=exam.upper()
def updater(list_name,len_list):
    while True:
        for i in range(len_list):
            if list_name==t_mrk:    
                print('\n\t ',subs[i]+(7-len(subs[i]))*' ',':',list_name[i])
            else:
                print('\n\t ',i+1,':',list_name[i])
        response=input('''\n\t  #YOU WANT TO UPDATE
                      1.YES
                      2.NO
                      : ''')
        if response=='1':
            intendetion=input('''\n ENTER THE SERIAL NO.
                      :  ''')
            while int(intendetion)>len_list or intendetion=='' or intendetion.isdigit()==False:     
                print('''\n\tINVALID INPUT!!!
                 ENTER AGAIN ''')
                intendetion=input('''\n ENTER THE SERIAL NO.
                  :  ''') 
            entry=input('ENTER THE UPDATE VALUE : ')
            if list_name==subs:
                while len(entry)>7 or entry=='':
                    print('''\n\tINVALID INPUT!!!
                     ENTER AGAIN ''')
                    entry=input(' : ')
                entry=entry.upper()
            list_name[int(intendetion)-1]=entry 
        else:
            break
sub_no=input('ENTER NO. OF SUBJECTS : ')    
while sub_no=='' or sub_no.isdigit()==False:
        print('''\n\tINVALID INPUT!!!
         ENTER AGAIN ''')
        sub_no=input('ENTER NO. OF SUBJECTS : ')
sub_no=int(sub_no)
subs=[]        
t_mrk=[]  
print('''\n     #ENTER THE NAME OF SUBJECTS.        
\n#IT SHOULD HAVE LESS THAN 7 LETTERS ''')
for i in range(sub_no):
    print('\t',i+1,end='. ')
    entry=input()                                   
    while len(entry)>7 or entry=='':
        print('''\n\tINVALID INPUT!!!
         ENTER AGAIN ''')
        print('\t',i+1,end='. ')
        entry=input()
    entry=entry.upper()
    subs.append(entry)
updater(subs,sub_no)  
print('\n#ENTER OUTOFF MARKS OF SUBJECT')
for i in subs:
    print('\t',i+(7-len(i))*' ',end=' : ')                 
    entry=input()
    while entry=='' or entry.isdigit()==False:
        print('''\n\tINVALID INPUT!!!
         ENTER AGAIN ''')
        print('\t',i,end=' : ')
        entry=input()
    t_mrk.append(entry)
updater(t_mrk,sub_no) 
studt_no=input('\nENTER NO. OF STUDENTS : ')
while studt_no=='' or studt_no.isdigit()==False:
        print('''\n\tINVALID INPUT!!!
         ENTER AGAIN ''')
        studt_no=input('\nENTER NO. OF STUDENTS : ')
studt_no=int(studt_no)
studts=[]   
file_name=std+session+'.txt'
file=open(file_name,'a')
file.close()
file=open(file_name,'r')
size=len(file.read())
file.close()
if size>1: 
    file=open(file_name,'r')
    print(file.read())
    file.close() 
    response=input('''\n\t  #THIS IS NAME OF STUDENTS
                  1.YES
                  2.NO
                      : ''') 
    if response=='1':
        file=open(file_name,'r')
        for i in file:
            line=i.strip()
            studts.append(line)
        file.close() 
    else:
        print('\n #ENTER THE NAMES OF STUDENTS  (ex. jaiwardhan g)')
        for i in range(studt_no):
            print('\t',i+1,end='. ')
            entry=input()               
            while entry=='':
                print('''\n\tINVALID INPUT!!!
                 ENTER AGAIN ''')
                print('\t',i+1,end='. ')
                entry=input()
            entry=entry.capitalize()
            entry=entry[:-1]+entry[-1].capitalize()+'.'
            studts.append(entry)
        file=open(file_name,'w')
        file.close()
        for i in studts:
            file=open(file_name,'a') 
            file.write(i+'\n')
            file.close()
else:
    print('\n #ENTER THE NAMES OF STUDENTS  (ex. jaiwardhan g)')
    for i in range(studt_no):
        print('\t',i+1,end='. ')
        entry=input()              
        while entry=='':
            print('''\n\tINVALID INPUT!!!
             ENTER AGAIN ''')
            print('\t',i+1,end='. ')
            entry=input()
        entry=entry.capitalize()
        entry=entry[:-1]+entry[-1].capitalize()+'.'
        studts.append(entry)
    file=open(file_name,'w')
    file.close()
    for i in studts:
        file=open(file_name,'a')
        file.write(i+'\n')
        file.close()
updater(studts,studt_no)
big=13
for i in range(studt_no):
    tp=len(studts[i])          
    if tp>=big:
        big=tp+1 
print('\n #ENTER THE MARKS')
mrks=[]             
for j in range(sub_no):
    print('\n\t',subs[j])
    print()
    lst=[]        
    for i in studts:
        print('\t',i,(big-len(i))*' ',end=': ')             
        entry=input()
        while entry=='' or entry.isdigit()==False or int(t_mrk[j])<int(entry):
            print('''\n\tINVALID INPUT!!!
             ENTER AGAIN ''')
            print('\t',i,end=': ')
            entry=input()
        lst.append(entry)
    updater(lst,studt_no)
    mrks.append(lst)
t_hoz=[]
for i in range(studt_no):           
    tp=0  
    for j in range(sub_no):
        tp+=int(mrks[j][i])
    t_hoz.append(tp) 
t_ver=[]                                       
for i in range(sub_no):
    tp=0
    for j in range(studt_no):
        tp+=int(mrks[i][j])
    t_ver.append(tp) 
asc_hoz=list(t_hoz)
asc_hoz.sort(reverse=True)    
cnvrt_mrk=[]       
l_age=[]     
def fitt(sting, distance):                             
    diff=distance-len(str(sting))
    if diff%2==0:
        output=((diff//2)*' '+str(sting)+(diff//2)*' ')
    else:
        output=((diff//2)*' '+str(sting)+(diff//2)*' '+' ')
    return output 
def mainline():                             
    print('+--+'+big*'-'+'+',end='')
    for i in range(2*sub_no+2):
        print(3*'-'+'+',end='')
    print(5*'-'+'+',end='')
    print(2*'-'+'+') 
def header():   
    mainline() 
    def line1():
        print('|  |'+big*' '+'|',end='')
        print(fitt('SUBJECTS',sub_no*7+sub_no-1)+'|',end='')
        print(' TOTAL |'+5*' '+'|R |') 
    def line2():
        print('|Sr|'+fitt('NAME OF THE',big)+'+',end='')
        print((2*sub_no)*'---+'+7*' '+'|  %  |'+'A |') 
    def line3():
        print('|  |'+big*' '+'|',end='')
        for i in subs:
            print(fitt(i,7)+'|',end='')
        print(' MARKS |'+5*' '+'|N |') 
    def line4():
        print('|No|'+fitt('STUDENTS',big)+'+',end='')
        print((2*sub_no)*'---+'+7*'-'+'|'+' AGE |k |') 
    def line5(): 
        global total 
        print('|  |'+big*' '+'|',end='')
        for i in t_mrk:
            print(fitt(i,3)+'|'+'100|',end='')
        total=0
        for i in t_mrk:
            tp=int(i)
            total+=tp
        tp=3-len(str(total))
        print(fitt(total,3),end='')
        print('|'+str(sub_no*100)+'|'+5*' '+'|S |')
        mainline()
    line1()
    line2()
    line3()
    line4()
    line5()
def body(): 
    for i in range(studt_no):
        print('|'+fitt(i+1,2)+'|',end='')
        tp=big-len(studts[i])
        print(studts[i]+tp*' '+'|',end='')
        lst=[]
        for j in range(sub_no):
            cnvrt=int(round((int(mrks[j][i])/int(t_mrk[j]))*100))                  
            lst.append(cnvrt)
            print(fitt(mrks[j][i],3)+'|'+fitt(cnvrt,3)+'|',end='')
        cnvrt_mrk.append(lst) 
        tp=3-len(str(t_hoz[i]))
        cnvrt=int(round((t_hoz[i]/total)*(sub_no*100)))
        cnvrt_tp=3-len(str(cnvrt))
        print(fitt(t_hoz[i],3),end='')
        print('|'+fitt(cnvrt,3)+'|',end='') 
        _age=round((t_hoz[i]/total)*100,2)                  
        l_age.append(_age)
        print(fitt(_age,5),end='')
        print('|',end='') 
        for k in range(studt_no):                       
            if t_hoz[i]==asc_hoz[k]:
                rnk=str(k+1)
                break
        if int(rnk)<10:
            rnk=' '+rnk
        print(rnk+'|') 
        mainline() 
def end():  
    def s1(): 
        print('|   '+fitt('TOTAL MARKS',big)+'|',end='') 
        global ttal 
        ttal=0
        for i in range(len(t_ver)):
            ttal+=t_ver[i]
            cnvrt=int(round((t_ver[i]/int(t_mrk[i]))*100,0))
            print(fitt(cnvrt,7),end='')
            print('|',end='') 
        ttal=int(round((ttal/total)*(sub_no*100)))
        print(fitt(ttal,7),end='')
        print('|'+5*' ','  |') 
        mainline() 
    def s2(): 
        print(fitt('|'+'SUBJECT AVERAGE',17)+'|',end='')
        for i in range(len(t_ver)):
            av=round((t_ver[i]/(int(t_mrk[i])*studt_no))*100,2)
            print(fitt(av,7),end='')
            print('|',end='')
        av=round((ttal/(studt_no*(sub_no*100)))*100,2)
        print('CLASS AVG :'+fitt(av,5)+'|') 
        mainline() 
    s1()
    s2() 
def _count():                               
    print() 
    def c_line():
        print('   '+'+'+big*'-'+'+',end='')
        print(6*(7*'-'+'+')) 
    def c_body(): 
        c_line() 
        print(3*' '+'|'+fitt('SUBJECTS',big)+'|',end='')
        print('  <33  | 33-59 | 60-74 | 75-89 | 90-94 | 95=<  |') 
        c_line() 
        for i in range(sub_no):
            tp=big-len(subs[i])
            print(3*' '+'|'+subs[i]+tp*' '+'|',end='') 
            b_33=b_59=b_74=b_89=b_94=a_95=0
            for j in range(studt_no):
                if cnvrt_mrk[j][i]<33:
                    b_33+=1 
                elif cnvrt_mrk[j][i]<=59 and cnvrt_mrk[j][i]>=33:
                    b_59+=1 
                elif cnvrt_mrk[j][i]<=74 and cnvrt_mrk[j][i]>=60:
                    b_74+=1 
                elif cnvrt_mrk[j][i]<=89 and cnvrt_mrk[j][i]>=75:
                    b_89+=1 
                elif cnvrt_mrk[j][i]<=94 and cnvrt_mrk[j][i]>=90:
                    b_94+=1 
                else:
                    a_95+=1 
            print(fitt(b_33,7)+'|', fitt(b_59,7)+'|', fitt(b_74,7)+'|', fitt(b_89,7)+'|',end='')
            print(fitt(b_94,7)+'|', fitt(a_95,7)+'|') 
            c_line() 
    c_body() 
def achiver():                          
    print()
    blnk=((4*(2*sub_no+2))-30)*' '
    def a_line():
        print('   +---+'+big*'-'+'+-----+',end='')
        print(blnk,end='')
        print('+---+'+big*'-'+'+-----+') 
    top_dict={}
    for i in range(studt_no):
        if t_hoz[i]==asc_hoz[0] and 1 not in top_dict:
            top_dict[1]=i 
        elif t_hoz[i]==asc_hoz[1] and 2 not in top_dict:
            top_dict[2]=i 
        elif t_hoz[i]==asc_hoz[2] and 3 not in top_dict:
            top_dict[3]=i 
        elif t_hoz[i]==asc_hoz[-1] and 4 not in top_dict:
            top_dict[4]=i 
        elif t_hoz[i]==asc_hoz[-2] and 5 not in top_dict:
            top_dict[5]=i 
        elif t_hoz[i]==asc_hoz[-3] and 6 not in top_dict:
            top_dict[6]=i 
    print(3*' '+fitt('HIGH ACHIEVERS',26),end='')
    print(blnk,end='')
    print(fitt('LOW ACHIEVERS',26)) 
    a_line() 
    print('   |RNK|'+fitt('STUDENTS',big)+'|% AGE|',end='')
    print(blnk,end='')
    print('|RNK|'+fitt('STUDENTS',big)+'|% AGE|')
    a_line()
    for i in range(3): 
        print('   |'+fitt(str(1+i)+'.',3)+'|',end='')
        print(fitt(studts[top_dict[i+1]],big)+'|', fitt(l_age[top_dict[i+1]],5)+'|', blnk,end='')
        print('|'+fitt(str(studt_no-i)+'.',3)+'|',end='')
        print(fitt(studts[top_dict[i+4]],big)+'|',end='')
        print(fitt(l_age[top_dict[i+4]],5)+'|')
        a_line()
tp=input('''\n\t # RESULT IS COMPLETED
            # PRESS ENTER''')
def result():        
    print('\n',fitt(school,big+(4*(2*sub_no+2))+12))
    print('CLASS TEACHER:'+class_teacher+',',regination,' ',exam,' ','CLASS:'+std,' ',session)
    header()
    body()
    end()
    _count()
    achiver()
print('\n')
result()

ENTER THE SCHOOL NAME : jawahar navodaya vidyalaya chandrapur

	ENTER THE CLASS AND SECTION (ex.-VIIB):  viib

	ENTER THE NAME OF CLASS TEACHER :  vivek singh

	ENTER THE REGINATION OF  THE CLASS TEACHER :  tgt maths

	ENTER THE GOING SESSION :  2021-22

	ENTER THE EXAM :  mid-sem
ENTER NO. OF SUBJECTS :  5

     #ENTER THE NAME OF SUBJECTS.

#IT SHOULD HAVE LESS THAN 7 LETTERS
	 1.

 mahts

	 2.

 hindi

	 3.

 english

	 4.

 science

	 5.

 history

	  1 : MAHTS

	  2 : HINDI

	  3 : ENGLISH

	  4 : SCIENCE

	  5 : HISTORY

	  #YOU WANT TO UPDATE
                      1.YES
                      2.NO
                      :  2

#ENTER OUTOFF MARKS OF SUBJECT
	 MAHTS   :

 50

	 HINDI   :

 50

	 ENGLISH :

 50

	 SCIENCE :

 50

	 HISTORY :

 50

	  MAHTS   : 50

	  HINDI   : 50

	  ENGLISH : 50

	  SCIENCE : 50

	  HISTORY : 50

	  #YOU WANT TO UPDATE
                      1.YES
                      2.NO
                      :  2

ENTER NO. OF STUDENTS :  15

 #ENTER THE NAMES OF STUDENTS  (ex. jaiwardhan g)
	 1.

 vijay h

	 2.

 hasan a

	 3.

 misioin k

	 4.

 gujju b

	 5.

 hina t

	 6.

 meena p

	 7.

 jeevan s

	 8.

 geeta k

	 9.

 chetan m

	 10.

 sanskruti o

	 11.

 kirti j

	 12.

 beenio h

	 13.

 aman u

	 14.

 bola j

	 15.

 krisna p

	  1 : Vijay H.

	  2 : Hasan A.

	  3 : Misioin K.

	  4 : Gujju B.

	  5 : Hina T.

	  6 : Meena P.

	  7 : Jeevan S.

	  8 : Geeta K.

	  9 : Chetan M.

	  10 : Sanskruti O.

	  11 : Kirti J.

	  12 : Beenio H.

	  13 : Aman U.

	  14 : Bola J.

	  15 : Krisna P.

	  #YOU WANT TO UPDATE
                      1.YES
                      2.NO
                      :  2

 #ENTER THE MARKS

	 MAHTS

	 Vijay H.      :

 45

	 Hasan A.      :

 24

	 Misioin K.    :

 35

	 Gujju B.      :

 16

	 Hina T.       :

 24

	 Meena P.      :

 45

	 Jeevan S.     :

 56

	INVALID INPUT!!!
             ENTER AGAIN
	 Jeevan S.:

 35

	 Geeta K.      :

 28

	 Chetan M.     :

 41

	 Sanskruti O.  :

 33

	 Kirti J.      :

 39

	 Beenio H.     :

 42

	 Aman U.       :

 28

	 Bola J.       :

 39

	 Krisna P.     :

 37

	  1 : 45

	  2 : 24

	  3 : 35

	  4 : 16

	  5 : 24

	  6 : 45

	  7 : 35

	  8 : 28

	  9 : 41

	  10 : 33

	  11 : 39

	  12 : 42

	  13 : 28

	  14 : 39

	  15 : 37

	  #YOU WANT TO UPDATE
                      1.YES
                      2.NO
                      :  2

	 HINDI

	 Vijay H.      :

 45

	 Hasan A.      :

 43

	 Misioin K.    :

 42

	 Gujju B.      :

 35

	 Hina T.       :

 36

	 Meena P.      :

 28

	 Jeevan S.     :

 48

	 Geeta K.      :

 39

	 Chetan M.     :

 36

	 Sanskruti O.  :

 34

	 Kirti J.      :

 38

	 Beenio H.     :

 42

	 Aman U.       :

 43

	 Bola J.       :

 47

	 Krisna P.     :

 32

	  1 : 45

	  2 : 43

	  3 : 42

	  4 : 35

	  5 : 36

	  6 : 28

	  7 : 48

	  8 : 39

	  9 : 36

	  10 : 34

	  11 : 38

	  12 : 42

	  13 : 43

	  14 : 47

	  15 : 32

	  #YOU WANT TO UPDATE
                      1.YES
                      2.NO
                      :  2

	 ENGLISH

	 Vijay H.      :

 34

	 Hasan A.      :

 35

	 Misioin K.    :

 36

	 Gujju B.      :

 37

	 Hina T.       :

 38

	 Meena P.      :

 39

	 Jeevan S.     :

 40

	 Geeta K.      :

 41

	 Chetan M.     :

 25

	 Sanskruti O.  :

 29

	 Kirti J.      :

 28

	 Beenio H.     :

 27

	 Aman U.       :

 30

	 Bola J.       :

 40

	 Krisna P.     :

 41

	  1 : 34

	  2 : 35

	  3 : 36

	  4 : 37

	  5 : 38

	  6 : 39

	  7 : 40

	  8 : 41

	  9 : 25

	  10 : 29

	  11 : 28

	  12 : 27

	  13 : 30

	  14 : 40

	  15 : 41

	  #YOU WANT TO UPDATE
                      1.YES
                      2.NO
                      :  2

	 SCIENCE

	 Vijay H.      :

 36

	 Hasan A.      :

 37

	 Misioin K.    :

 38

	 Gujju B.      :

 39

	 Hina T.       :

 40

	 Meena P.      :

 41

	 Jeevan S.     :

 42

	 Geeta K.      :

 43

	 Chetan M.     :

 35

	 Sanskruti O.  :

 36

	 Kirti J.      :

 37

	 Beenio H.     :

 38

	 Aman U.       :

 39

	 Bola J.       :

 29

	 Krisna P.     :

 28

	  1 : 36

	  2 : 37

	  3 : 38

	  4 : 39

	  5 : 40

	  6 : 41

	  7 : 42

	  8 : 43

	  9 : 35

	  10 : 36

	  11 : 37

	  12 : 38

	  13 : 39

	  14 : 29

	  15 : 28

	  #YOU WANT TO UPDATE
                      1.YES
                      2.NO
                      :  2

	 HISTORY

	 Vijay H.      :

 38

	 Hasan A.      :

 34

	 Misioin K.    :

 36

	 Gujju B.      :

 37

	 Hina T.       :

 39

	 Meena P.      :

 40

	 Jeevan S.     :

 41

	 Geeta K.      :

 42

	 Chetan M.     :

 43

	 Sanskruti O.  :

 46

	 Kirti J.      :

 44

	 Beenio H.     :

 45

	 Aman U.       :

 29

	 Bola J.       :

 28

	 Krisna P.     :

 35

	  1 : 38

	  2 : 34

	  3 : 36

	  4 : 37

	  5 : 39

	  6 : 40

	  7 : 41

	  8 : 42

	  9 : 43

	  10 : 46

	  11 : 44

	  12 : 45

	  13 : 29

	  14 : 28

	  15 : 35

	  #YOU WANT TO UPDATE
                      1.YES
                      2.NO
                      :  2

	 # RESULT IS COMPLETED
            # PRESS ENTER

                   JAWAHAR NAVODAYA VIDYALAYA CHANDRAPUR
CLASS TEACHER:VIVEK SINGH, TGT MATHS   MID-SEM   CLASS:VII B   2021-22
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|  |             |               SUBJECTS                | TOTAL |     |R |
|Sr| NAME OF THE +---+---+---+---+---+---+---+---+---+---+       |  %  |A |
|  |             | MAHTS | HINDI |ENGLISH|SCIENCE|HISTORY| MARKS |     |N |
|No|  STUDENTS   +---+---+---+---+---+---+---+---+---+---+-------| AGE |k |
|  |             |50 |100|50 |100|50 |100|50 |100|50 |100|250|500|     |S |
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|1 |Vijay H.     |45 |90 |45 |90 |34 |68 |36 |72 |38 |76 |198|396|79.2 | 2|
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|2 |Hasan A.     |24 |48 |43 |86 |35 |70 |37 |74 |34 |68 |173|346|69.2 |12|
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|3 |Misioin K.   |35 |70 |42 |84 |36 |72 |38 |76 |36 |72 |187|374|74.8 | 6|
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|4 |Gujju B.     |16 |32 |35 |70 |37 |74 |39 |78 |37 |74 |164|328|65.6 |15|
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|5 |Hina T.      |24 |48 |36 |72 |38 |76 |40 |80 |39 |78 |177|354|70.8 |11|
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|6 |Meena P.     |45 |90 |28 |56 |39 |78 |41 |82 |40 |80 |193|386|77.2 | 4|
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|7 |Jeevan S.    |35 |70 |48 |96 |40 |80 |42 |84 |41 |82 |206|412|82.4 | 1|
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|8 |Geeta K.     |28 |56 |39 |78 |41 |82 |43 |86 |42 |84 |193|386|77.2 | 4|
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|9 |Chetan M.    |41 |82 |36 |72 |25 |50 |35 |70 |43 |86 |180|360|72.0 | 9|
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|10|Sanskruti O. |33 |66 |34 |68 |29 |58 |36 |72 |46 |92 |178|356|71.2 |10|
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|11|Kirti J.     |39 |78 |38 |76 |28 |56 |37 |74 |44 |88 |186|372|74.4 | 7|
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|12|Beenio H.    |42 |84 |42 |84 |27 |54 |38 |76 |45 |90 |194|388|77.6 | 3|
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|13|Aman U.      |28 |56 |43 |86 |30 |60 |39 |78 |29 |58 |169|338|67.6 |14|
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|14|Bola J.      |39 |78 |47 |94 |40 |80 |29 |58 |28 |56 |183|366|73.2 | 8|
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|15|Krisna P.    |37 |74 |32 |64 |41 |82 |28 |56 |35 |70 |173|346|69.2 |12|
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|    TOTAL MARKS | 1022  | 1176  | 1040  | 1116  | 1154  | 5508  |        |
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+
|SUBJECT AVERAGE | 68.13 | 78.4  | 69.33 | 74.4  | 76.93 |CLASS AVG :73.44|
+--+-------------+---+---+---+---+---+---+---+---+---+---+---+---+-----+--+

   +-------------+-------+-------+-------+-------+-------+-------+
   |  SUBJECTS   |  <33  | 33-59 | 60-74 | 75-89 | 90-94 | 95=<  |
   +-------------+-------+-------+-------+-------+-------+-------+
   |MAHTS        |   1   |    4   |    4   |    4   |   2   |    0   |
   +-------------+-------+-------+-------+-------+-------+-------+
   |HINDI        |   0   |    1   |    5   |    6   |   2   |    1   |
   +-------------+-------+-------+-------+-------+-------+-------+
   |ENGLISH      |   0   |    4   |    5   |    6   |   0   |    0   |
   +-------------+-------+-------+-------+-------+-------+-------+
   |SCIENCE      |   0   |    2   |    5   |    8   |   0   |    0   |
   +-------------+-------+-------+-------+-------+-------+-------+
   |HISTORY      |   0   |    2   |    4   |    7   |   2   |    0   |
   +-------------+-------+-------+-------+-------+-------+-------+

         HIGH ACHIEVERS                              LOW ACHIEVERS
   +---+-------------+-----+                  +---+-------------+-----+
   |RNK|  STUDENTS   |% AGE|                  |RNK|  STUDENTS   |% AGE|
   +---+-------------+-----+                  +---+-------------+-----+
   |1. |  Jeevan S.  | 82.4 |                   |15.|  Gujju B.   |65.6 |
   +---+-------------+-----+                  +---+-------------+-----+
   |2. |  Vijay H.   | 79.2 |                   |14.|   Aman U.   |67.6 |
   +---+-------------+-----+                  +---+-------------+-----+
   |3. |  Beenio H.  | 77.6 |                   |13.|  Hasan A.   |69.2 |
   +---+-------------+-----+                  +---+-------------+-----+